<div class="card mb-2" [formGroup]="form">
  <div class="card-header">
    <div class="float-right" role="group">
      <button type="button" class="btn btn-sm btn-secondary {{!collapsed? '': 'collapsed'}}" data-toggle="collapse" [attr.data-target]="'#'+formControlObj.key">
        <i class="fa" aria-hidden="true"></i>
      </button>
    </div>
    <h5>{{title}}</h5>
  </div>

  <div id="{{formControlObj.key}}" class="card-body collapse {{!collapsed? 'show': ''}}">
    <div *ngFor="let control of mainFormControl; let i = index">
      <!-- <label>index: {{i}} - {{control.key}}</label> -->
      <app-schema-form-control 
        [form]="nestedForm"
        [mainFormControl]="control"
        (updateFormValue)="updateFormValue(control.key, control)" >
      </app-schema-form-control>
    </div>

    <!-- Description Messaging Section -->
    <control-message *ngIf="formControlObj.description" [message]="formControlObj.description" [messageType]="'description'"></control-message>
    <!-- Validation Messaging Section -->
    <ng-container *ngIf="isInvalid && !!formControlValidator?.errorMessages && formControlValidator?.errorMessages.length > 0">
        <control-message *ngFor="let message of formControlValidator.errorMessages" [message]="message" [messageType]="'errorMessage'"></control-message>
    </ng-container>
  </div>
</div>