/*
*   File:           search.component.scss
*   Description:    This files holds styles for list views: Details, icons and list
*   Author:         RK - Document Manager API
*/

@import '../../styles/helpers/_variables.scss';
@import '../../styles/helpers/_bootstrap-variables.scss';

.list-toolbar{
    border-bottom: solid 1px $hr-border-color;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sub{
    font-weight: bold;
    *{
        font-weight: normal;
    }
}
h5{
    font-weight: 400;
}