<!-- Loading bar -->
<!-- <app-loading [loading]="loading"></app-loading> -->

<div id="search-results" *ngIf="!!pathIdentifier && !!explorerService.fileExplorer.currentExplorer" class="manager-view"
  [class.collapsed]="explorerService.fileExplorer.isCollapsed">
  <div class="row">
    <div class="left-nav col-md-3">
      <!-- <a><i class="fa fa-search"></i> Search Results</a> -->
      <file-explorer *ngIf="explorerService.fileExplorer.currentExplorer !== undefined" [activeNodeKey]="pathIdentifier.pathKey"></file-explorer>
    </div>
    <div class="main-content col-md-9">
      <div class="list-toolbar row">
        <div class="col-auto mr-auto">
          <ng-container *ngIf="!!searchResult">
            <h5 class="mb-0">Search Results for:
              <small class="text-primary em ml-2">"{{searchQuery}}"</small>
            </h5>
            <small>showing X results out of {{searchResult.totalMatches}}</small>
          </ng-container>
        </div>
        <div class="col-auto">
          <app-search-form [identifier]="folderIdentifier"></app-search-form>
        </div>
      </div>
      <div class="search-results py-2" *ngIf="!!searchResult?.rows && searchResult.rows.length > 0 ">
        <div *ngFor="let row of searchResult.rows" class="col-lg-8" >
          <app-search-result [row]="row"></app-search-result>
        </div>
        <!-- Pagination -->
        <app-pagination *ngIf="pagination" [pagination]="pagination" [pathIdentifier]="pathIdentifier" [pageFiltersParams]="pageFiltersParams"></app-pagination>
      </div>
      <p class="folderEmpty my-4" *ngIf="!!searchResult?.rows && searchResult.rows.length <= 0"  >No results found for:  <b>"{{searchQuery}}"</b></p>
    </div>
  </div>
</div>