<div  #playerContainer  *ngIf="!!sources" class="player-wrap">
  <!-- controls="false"  -->
<video #player id="player" class="player" [autoplay]="mediaSet.autoPlay"  [poster]="(!!poster ? poster : '')" controls
  [preload]="preload" controlsList="nodownload">
  <ng-container *ngFor="let source of sources">
    <source [src]="source.saferesourceURL" type="{{source.type}}" />
  </ng-container>
  <ng-container *ngFor="let subtitle of subtitles; let i=index">
    <track [src]="subtitle.saferesourceURL" kind="subtitles" srclang="en" [label]="subtitle.label">
  </ng-container>
</video>
</div>