<ng-container *ngIf="appConfigService?.configuration?.isSearchEnabled">
  <form #searchForm="ngForm" *ngIf="!!identifier" class="search-form" (ngSubmit)="onSearch(searchTerm)">
    <div class="input-group input-group-sm">
      <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control" type="text" placeholder="Search in this case" required autocomplete="off">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</ng-container>
