<div class="search-wrapper active">
    <!-- <form #searchForm="ngForm" class="search-form" (ngSubmit)="onSearch(searchTerm)">
        <div class="input-group ">
            <div class="input-group-append">
                <button class="btn btn-link" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
          <input [(ngModel)]="searchTerm" name="searchTerm" class="form-control" type="text" placeholder="Search" required autocomplete="off">
          <div class="input-group-append">
              
            </div>
        </div>
      </form>  -->
<!--    
      <a role="search" class="text-info btn btn-light"><i class="fa fa-search"></i></a> -->
</div>
