<div class="card my-5 mx-auto">
  <div class="card-body">
    <div class="alert alert-info">
      <!-- <b>EDiscovery Instructions</b> -->
      <p><i class="fa fa-info-circle"></i> Please enter your email address and the password provided by the ADA on this case.</p>
    </div>
    <div class="alert alert-danger" *ngIf="!!authenticateInvalid">
      <i class="fa fa-exclamation-triangle"></i> There was a problem with your login information. Please, verify that the information provided is correct. If this
      problem persists, contact the invitation sender.
    </div>
    <form [formGroup]="authenticateUserForm" (ngSubmit)="authenticateRecipient(authenticateUserForm.value)">
      <div class="form-group">
        <label for="email">Email address</label>
        <em *ngIf="authenticateUserForm.controls.email?.invalid && authenticateUserForm.controls.email?.touched" class="pull-right text-danger">Required</em>
        <input id="email" type="email" class="form-control" formControlName="email" required email placeholder="Enter email" />
        <small id="emailHelp" class="form-text text-muted">Please enter your email address.</small>
        <small *ngIf="authenticateUserForm.controls.email.errors?.required && authenticateUserForm.controls.email?.touched" class="text-danger">Your email is required.</small>
        <small *ngIf="authenticateUserForm.controls.email.errors?.email && authenticateUserForm.controls.email?.touched" class="text-danger">
          Your email address doesn't look quite right.
        </small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <em *ngIf="authenticateUserForm.controls.password?.invalid && authenticateUserForm.controls.password?.touched" class="pull-right text-danger">Required</em>
        <input type="password" class="form-control" id="password" placeholder="Enter Password" formControlName="password" required
        />
        <small id="passwordHelp" class="form-text text-muted">Please enter the password provided to you by the email invitation.</small>
        <small *ngIf="authenticateUserForm.controls.password.errors?.required && authenticateUserForm.controls.password?.touched"
          class="text-danger">The Password is required.</small>
      </div>

      <div class="text-center btn-panel">
        <button type="submit" class="btn btn-primary" [disabled]="authenticateUserForm.invalid ||isSaving">{{isSaving ? 'Working...':'Login'}}</button>
        <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
      </div>
    </form>
  </div>
</div>
